@{
    ViewData["Title"] = "Confirmacao";
}
<style>
    main {
        margin-top: 80px;
    }
    hr{
        background-color: #fff;
    }
    h2{
        color: #fff;
    }
</style>

<div class="container">
    <h2 style="white-space: pre-line">@TempData["msg"]</h2>
    <hr/>
</div>
