@model WebAppReceitas.Models.EsqueciSenhaModel

@{
    ViewData["Title"] = "EsqueciSenha";
}
<style>
    main {
        margin-top: 80px;
    }
    hr{
        background-color: #fff;
    }
    h2{
        color: #fff !important;
    }
</style>

<div class="container signup-form">
    <h2>Esqueci a Senha</h2>
    <hr/>
    <form asp-action="EsqueciSenha" asp-controller="LoginUsuario" method="POST">
        <div asp-validation-summary="ModelOnly" class="p-3 mb-2 bg-success text-white"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="email" class="form-control" required="required"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar" class="btns btn btn-primary" />
        </div>
    </form>
     <a asp-action="Login" asp-controller="LoginUsuario" class="btn btn-warning" style="text-decoration: none;">Voltar</a>     
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
