@model WebAppReceitas.Models.EsqueciSenhaModel

@{
    ViewData["Title"] = "EsqueciSenha";
}
<style>
    main {
        margin-top: 80px;
    }
    hr{
        background-color: #fff;
    }
    h2{
        color: #fff !important;
    }
</style>

<div class="container signup-form">

<h2>Esqueci a Senha</h2>

<hr/>
        <form asp-action="ResetarSenha">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btns btn btn-primary" />
            </div>
        </form>
    <div>
    <a class="btn btn-warning" asp-action="Login" asp-controller="LoginUsuario" style="text-decoration: none;">Voltar</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
