@model WebAppReceitas.Models.ReceitaModel
@{
    ViewData["Title"] = "Perfil";
}
<style>
    main {
        margin-top: 80px;
    }

    .container {
        border-left: solid 3px #fff !important;
    }
    hr{
        background-color: #fff;
    }
</style>
<div class="container col-md-6 table-responsive-sm">
    <div>
        <a class="postar btn btn-light" style="float: right;">
            Postar
        </a>
        <h2 style="color: white;float: left;">Minhas Receitas</h2>
    <div class="clear"> </div>
    </div>
    <hr>
    <table class="table table-sm table-hover">
        <thead>
            <tr class="bg-warning">
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Data</th>
                <th scope="col" class="text-center">Opcoes</th>
            </tr>
        </thead>
        @for (int i = 0; i < 40; i++)
        {
                    <tbody>
            <tr class="table-light">
                <th scope="row">1</th>
                <td>macarrao com salmao, acompanha vinho tinto</td>
                <td>16/12/2020</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                        <a class="visualizar btn btn-info btn-sm">Visualizar</a>
                        <a class="editar btn btn-warning btn-sm">Alterar</a>
                        <a class="deletar btn btn-danger btn-sm">Deletar</a>
                    </div>
                </td>
            </tr>
        </tbody>
        }

    </table>
</div>

<!-- Início modal grupo -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

</div>

@section scripts{
    <script>
        $(function () {
            $(".postar").click(function () {
                $("#exampleModal").load("Partial_Postar", function () {
                    $("#exampleModal").modal();
                })
            });

            $(".visualizar").click(function () {
                $("#exampleModal").load("Partial_Visualizar", function () {
                    $("#exampleModal").modal();
                })
            });

            $(".editar").click(function () {
                $("#exampleModal").load("Partial_Editar", function () {
                    $("#exampleModal").modal();
                })
            });

            $(".deletar").click(function () {
                $("#exampleModal").load("Partial_Delete", function () {
                    $("#exampleModal").modal();
                })
            });

        })
    </script>
}
