@model WebAppReceitas.Models.ReceitaModel

@{
    Layout = null;
}
<h2>Deseja deletar esta receita?</h2>

<form asp-controller="Perfil" asp-action="Delete" method="POST">
    <div class="form-group">
        <h6 class="mt-3">@Model.Titulo</h6>
    </div>
    <div class="modal-footer">
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" value="Deletar" class="btn btn-sm btn-danger" />
    </div>
</form>
