@using System.Security.Claims
@{
    var id = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/icon5.ico" type="image/x-icon">
    <title>WebReceitas - Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Css Site-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <!-- Css Carrousel -->
    <link href="~/css/carousel.css" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <nav class="navbar p-3 navbar-expand-md navbar-light bg-white border-bottom box-shadow justify-content-center">
            <a id="titulo" class="navbar-brand d-flex ml-5" asp-controller="Home" asp-action="Index">WebReceitas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3" id="collapsingNavbar">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item ml-5">
                        <a id="menu" class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto w-100">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="btn btn-outline-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ola @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form method="post">
                                    <a asp-action="Perfil" asp-controller="LoginUsuario" asp-route-id="@id"
                                        class="dropdown-item">Perfil</a>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form method="get">
                                    <a asp-action="SignOut" asp-controller="LoginUsuario" class="dropdown-item">Sair</a>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="login nav-item m-auto">
                            <a asp-action="Login" asp-controller="LoginUsuario"
                                class=" btn btn-outline-dark btn-md">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="clear"> </div>

    <div class="footer1">
        <p class="link"><span>© 2020 All rights Reserved</span></p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js?7.0.0.0
        type="text/javascript"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("NToastNotify")
    @RenderSection("Scripts", required: false)
</body>

</html>
