<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Css Site-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <!-- Css Carrousel -->
    <link href="~/css/carousel.css" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <nav class="navbar p-3 navbar-expand-md navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a id="titulo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebReceitas</a>
                <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="menu" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a asp-action="Login" id="login" class=" btn btn-outline-dark btn-md" style="margin-right: 110px;">Login</a>
        </nav>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="clear"> </div>

    <div class="footer1">
        <p class="link"><span>© 2020 All rights Reserved</span></p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
