@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    hr {
        background-color: #fff;
    }
</style>
<div class="container mt-5 alert alert-light" role="alert">
    <h1 class="text-danger">Error!!</h1>
    <hr />
    <h3>@TempData["errorMessage"]</h3>
    <a asp-action="Index" class="btn btn-outline-dark mt-3">Voltar</a>
</div>